.propertiesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.propertyCardContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  object-fit: contain;
  padding: 30px;
  margin: 5%;
  cursor: pointer;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
}

.propertyCardContainer:hover {
  background-color: #f2f2f2;
  transition: 0.5s;
}

.locationContainer {
  width: 100%;
  padding: 0 5%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.property {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.property > h3 {
  margin: 0.5rem 0rem;
}

.image {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.textContainer {
  height: 70px;
  width: 100%;
  text-align: center;
}
/* =========Tablet========= */

/* =========Mobile========= */

.propertiesContainerMobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.locationContainerMobile {
  width: 100%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locationContainerMobile h3 {
  line-height: 0;
}

.propertyMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.propertyCardContainerMobile {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  object-fit: contain;
  padding: 30px;
  margin: 0 5% 5% 5%;
  cursor: pointer;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
}
