.propertyPageContainer {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  padding: 0 5%;
}

.propertyInfoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  width: 70%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.imageDisplay {
  display: flex;
  justify-content: center;
  height: 80%;
  width: 90%;
  margin: 5px;
}

.imagePreview {
  cursor: pointer;
}

.selector {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 65%;
  overflow-y: scroll;
  padding: 0 0 5% 0;
}

.selected {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.unselected {
  cursor: pointer;
}

.contactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gregImage {
  height: 100%;
  width: 25%;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 20px;
}

/* ============MOBILE============== */

.propertyPageContainerMobile {
  width: 100%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0% 5%;
}

.imageContainerMobile {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.imageDisplayMobile {
  display: flex;
  justify-content: center;
  height: 80%;
  width: 90%;
  margin: 5px;
}

.scrollContainer {
  width: 100%;
  overflow-x: scroll;
}

.imagePreviewMobile {
  display: flex;
  width: max-content;
  height: 50px;
  cursor: pointer;
  overflow: scroll;
}

.detailsContainerMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 100%;
  overflow-y: scroll;
  padding: 0 0 5% 0;
}

.selectorMobile {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.contactContainerMobile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gregImageMobile {
  height: 100%;
  width: 40%;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 20px;
}

.contactText p {
  font-size: 0.8rem;
  line-height: 0.5rem;
}

.mobileBanner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
